* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}

.app-wrapper {
  width: 768px;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login {
  width: 383px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 26px;
  background-color: #FFFFFF;
}

.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
}

.login-wrapper p {
  font-family: 'Castoro';
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.input {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.input__text {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.input__text input {
  width: 275px;
  height: 40px;
  padding: 8px 20px;
  font-family: 'Lato';
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #2D2D2D;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
}

.input__extra {
  display: flex;
  justify-content: end;
}

.input__extra a {
  font-family: 'Lato';
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #2D2D2D;
}

.button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
}

.button-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.button-wrapper button {
  width: 275px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.button-wrapper button:first-child {
  color: #FFFFFF;
  background-color: #0B3835;
  box-shadow: 0px 4.375px 17.5px rgba(19, 78, 74, 0.18);
}

.button-wrapper button:last-child {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #F7F7F7;
  color: #2D2D2D;
  background-color: #FFFFFF;
  gap: 10px;
}

.button-wrapper button:last-child p {
  width: 22.48px;
  height: 22.48px;
  background-image: url(../assets/google_icon.png);
  background-size: cover;
}

.button a {
  font-family: 'Lato';
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #2D2D2D;
}

.background {
  width: 385px;
  height: 500px;
  background-image: url('../assets/login_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width:768px) {
  .app-wrapper {
    width: 375px;
    height: 1001px;
    flex-flow: column;
    gap: 1px;
  }

  .login {
    width: 375px;
    height: 500px;
  }

  .input__extra a {
    font-family: 'Castoro';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-decoration: none;
  }

  .background {
    width: 375px;
    height: 500px;
  }
}